<div class="container">
  <div class="targets">
    <h1>TARGETS</h1>
      <div class="cards">
        <div class="col">
          <% @targets.each do |target| %>
            <div class="card-product">
              <%= cl_image_tag target.target_logo.key, width: 150, height: 150, crop: :pad %>
                <div class="card-product-infos">
                    <h2><%= link_to target.name, edit_target_path(target) %></h2>
                    <p><%= target.sector %></p>
                    <p><%= link_to target.identifier, "https://markets.ft.com/data/equities/tearsheet/summary?s=#{target.identifier}"  %></p>
                    <%= link_to "Latest annual report", target.annual_report %>
                  </div>

                    <div class="col">
                      <div class="col">
                      <% response = open("https://markets.ft.com/data/equities/tearsheet/summary?s=#{target.identifier}").read %>
                      <% html_doc = Nokogiri::HTML(response) %>
                      <% portfolio = [] %>
                        <% html_doc.search(".mod-ui-data-list__value").each do |element| %>
                        <p><%= company = element.text.strip %></p>
                        <%  portfolio << company %>
                        <% end %>
                      </div>
                    </div>
            </div>
          <% end %>
        </div>
      </div>
   </div>
</div>
