<div class="container">
  <div class="targets">
    <div class="row">
    <h1>TARGETS</h1>
       <%= link_to "Back to Deals", deals_path, class: "btn btn-ghost mb-3 mr-5 ml-5" %>
       </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" class="text-center align-middle">Target</th>
              <th scope="col" class="text-center align-middle">Sector</th>
              <th scope="col" class="text-center align-middle">Identifier</th>
              <th scope="col" class="text-center align-middle">Stock price</th>
              <th scope="col" class="text-center align-middle">P/E</th>
              <th scope="col" class="text-center align-middle">1d Change</th>
              <th scope="col" class="text-center align-middle">1Yr Change</th>
              <th scope="col" class="text-center align-middle">Beta</th>
              <th scope="col" class="text-center align-middle">Mkt cap</th>
              <th scope="col" class="text-center align-middle">Annual report</th>
            </tr>
          </thead>
          <tbody style="height: 10px !important; overflow: scroll;">
            <% @targets.order("beta_ft DESC").each do |target| %>
              <tr>
                <th scope="row" class="text-center justify-center"><%= cl_image_tag target.target_logo.key, width: 100, height: 100, crop: :pad if target.target_logo.attached? %> </th>
                <td class="align-middle"><%= target.sector %></td>
                <td class="align-middle"><%= target.identifier %></td>
                <td class="text-center align-middle"><%= target.price %></td>
                <td class="text-center align-middle"><%= target.ebitda.split('P/E (TTM)')[1].split('Market cap')[0] unless target.ebitda.nil? %></td>
                <td class="text-center align-middle"><%= target.price_1chg %></td>
                <td class="text-center align-middle"><%= target.price_yrchg %></td>
                <td class="text-center align-middle"><%= target.beta_ft %></td>
                <td class="text-center align-middle"><%= target.ebitda.split('Market cap')[1].split("EPS")[0] unless target.ebitda.nil? %></td>
                <td class="align-middle"><%= link_to "Annual Report", target.annual_report if target.annual_report.attached?  %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
</div>



