<div class="container">
  <%= link_to "Back to Deals", deals_path, class: "btn btn-ghost" %>
  <%= link_to "Modify", edit_acquirer_path(@acquirer), class: "btn btn-ghost" %>
  <div class="card-product">
    <%= cl_image_tag @acquirer.acquirer_logo.key, width: 150, height: 150, crop: :pad if @acquirer.acquirer_logo.attached? %>
    <div class="card-product-infos">
      <h2><%= @acquirer.name %></h2>
      <p><%= @acquirer.sector %> <strong><%= link_to @acquirer.url, @acquirer.url %></strong></p>
    </div>
  </div>

  <% if @acquirer.identifier.empty? %>
    </div>
    <% else %>
        <div class="card-product-infos justify-content-center">
          <% response = open("https://markets.ft.com/data/equities/tearsheet/profile?s=#{@acquirer.identifier}").read %>
          <% html_doc = Nokogiri::HTML(response) %>
          <% portfolio = [] %>
            <% html_doc.search('.mod-tearsheet-profile-section').each do |label| %>
              <p><%= label = label.text.strip %></p>
            <% end %>
        </div>
      </div>
    <% end %>
</div>
