<% if current_user.admin %>
  <div class="portfolio-index-admin">
    <a href="portfolios/new"><button class="button type2">New Portfolio</button></a>
  </div>
<% else %>
  <div class="portfolio-index-no-admin">
      <button class="button type2">PORTFOLIOS</button>
  </div>
<% end %>

  <div class="portfolio-index-nav-container">
    <div class="portfolio-index-header-container">
      <div class="portfolio-index-button" tabindex="0">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </div>
      <div class="portfolio-index-title"><%= Portfolio.find_by(fund: "BGLTV").fund %>  - <%= Portfolio.last.date.strftime("%d/%m/%y") %> - Investment level : <%= @bgltv.sum("weight").round(2) %>% - AUM : <%= number_with_delimiter(@bgltv.last.aum, :delimiter => ",", :separator => ".") %> EUR</div>
    </div>
    <div class="accordion-item accordion-active" data-actab-group="0" data-actab-id="0">
      <div class="accordion-item__container accordion-item__label">
        <ul class="portfolio-index-table">
          <li class="portfolio-index-table-header ">
            <div class="col-nb-1">Index</div>
            <div class="col-nb-2">Name</div>
            <div class="col-nb-3">Weight</div>
            <div class="col-nb-4">1Yr-Perf</div>
            <div class="col-nb-5">Beta</div>
            <div class="col-nb-6">P/E</div>
          </li>
          <% @bgltv.order("weight DESC").each_with_index do |portfolio, index| %>
            <li class="portfolio-index-row">
              <% stock = portfolio.stock_id %>
              <%= link_to "", stock_path(stock), class: "portfolio-index-a" %>
              <div class="col-nb-1" data-label="Index"><%= index +1 %></div>
              <div class="col-nb-2" data-label="Name"><%= Stock.find(id=stock).name %></div>
              <div class="col-nb-3" data-label="Weight"><%= portfolio.weight %>%</div>
              <div class="col-nb-4" data-label="1Yr-Perf"><%= Stock.find(id=stock).price_yrchg %></div>
              <div class="col-nb-5" data-label="Beta"><%= Stock.find(id=stock).beta_ft %></div>
              <div class="col-nb-6" data-label="P/E"><%= Stock.find(id=stock).ebitda.split("P/E (TTM)").last.split("Market cap").first unless Stock.find(id=stock).ebitda.nil? %></div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="bg"></div>
      <div class="portfolio-index-tab" tabindex="0">
        <ul>
          <button class="accordion-tab accordion-active" data-actab-group="0" data-actab-id="0" data-name="<%= Portfolio.find_by(fund: "BGLTV").fund %>" data-date="<%= Portfolio.last.date.strftime("%d/%m/%y") %>" data-weight="<%= @bgltv.sum("weight").round(2) %>" data-aum="<%= number_with_delimiter(@bgltv.last.aum, :delimiter => ",", :separator => ".") %>">BGLTV</button>
          <button class="accordion-tab" data-actab-group="0" data-actab-id="1" data-name="<%= Portfolio.find_by(fund: "BGEQT").fund %>" data-date="<%= Portfolio.last.date.strftime("%d/%m/%y") %>" data-weight="<%= @bgeqt.sum("weight").round(2) %>" data-aum="<%= number_with_delimiter(@bgeqt.last.aum, :delimiter => ",", :separator => ".") %>">BGEQT</button>
        </ul>
      </div>
    </div>
    <div class="accordion-item" data-actab-group="0" data-actab-id="1">
      <div class="accordion-item__container accordion-item__label">
        <ul class="portfolio-index-table">
          <li class="portfolio-index-table-header">
            <div class="col-nb-1">Index</div>
            <div class="col-nb-2">Name</div>
            <div class="col-nb-3">Weight</div>
            <div class="col-nb-4">1Yr-Perf</div>
            <div class="col-nb-5">Beta</div>
            <div class="col-nb-6">P/E</div>
          </li>
          <% @bgeqt.order("weight DESC").each_with_index do |portfolio, index| %>
            <li class="portfolio-index-row">
              <% stock = portfolio.stock_id %>
              <%= link_to "", stock_path(stock), class: "portfolio-index-a" %>
              <div class="col-nb-1" data-label="Index"><%= index +1 %></div>
              <div class="col-nb-2" data-label="Name"><%= Stock.find(id=stock).name %></div>
              <div class="col-nb-3" data-label="Weight"><%= portfolio.weight %>%</div>
              <div class="col-nb-4" data-label="1Yr-Perf"><%= Stock.find(id=stock).price_yrchg %></div>
              <div class="col-nb-5" data-label="Beta"><%= Stock.find(id=stock).beta_ft %></div>
              <div class="col-nb-6" data-label="P/E"><%= Stock.find(id=stock).ebitda.split("P/E (TTM)").last.split("Market cap").first unless Stock.find(id=stock).ebitda.nil? %></div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="bg"></div>
      <div class="portfolio-index-tab no-display" tabindex="0">
        <ul>
          <button class="accordion-tab" data-actab-group="0" data-actab-id="0" data-name="<%= Portfolio.find_by(fund: "BGLTV").fund %>" data-date="<%= Portfolio.last.date.strftime("%d/%m/%y") %>" data-weight="<%= @bgltv.sum("weight").round(2) %>" data-aum="<%= number_with_delimiter(@bgltv.last.aum, :delimiter => ",", :separator => ".") %>">BGLTV</button>
          <button class="accordion-tab" data-actab-group="0" data-actab-id="1" data-name="<%= Portfolio.find_by(fund: "BGEQT").fund %>" data-date="<%= Portfolio.last.date.strftime("%d/%m/%y") %>" data-weight="<%= @bgeqt.sum("weight").round(2) %>" data-aum="<%= number_with_delimiter(@bgeqt.last.aum, :delimiter => ",", :separator => ".") %>">BGEQT</button>
        </ul>
      </div>
    </div>
  </div>
 

