<% if current_user.admin %>
<div class="portfolio-index-admin">
  <a href="ipos/new"><button class="button type3">New IPOS</button></a>
</div>
<% end %>
 
 <div class="ipos">
  <div class=container>
    <% @ipos.each do |ipo| %>
      <div class="card-product">
        <div class="mb-1 mt-1 ml-1 mtr-1"><%= cl_image_tag ipo.ipo_logo.key, width: 85, height: 85, crop: :pad %></div>
            <div class="card-product-infos">
              <h3><%= link_to ipo.name, edit_ipo_path(ipo) %></h3>
              <h2><%= ipo.sector %></h2>
              <h2><%= ipo.date.strftime("%d/%m/%y") %></h2>
              <%= link_to "Prospectus offering", ipo.pdf_prospectus %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
