<div class="container">
    <div class="row">
      <h1 class="mt-3">Stocks</h1>
        <%= link_to "Create a new stock", new_stock_path, class: "btn btn-ghost mt-3 mb-3 mr-5 ml-5", style:"width: 200px" %>
        <%= link_to "Back to Home", root_path, class: "btn btn-ghost mt-3 mb-3 mr-5 ml-5", style:"width: 200px" %>
    </div>
</div>


<div class="ml-5 mr-5 mt-3">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center align-middle">Name</th>
        <th scope="col" class="text-center align-middle">Identifier</th>
        <th scope="col" class="text-center align-middle">Price</th>
        <th scope="col" class="text-center align-middle">Mkt Cap</th>
        <th scope="col" class="text-center align-middle">Revenue TTM</th>
        <th scope="col" class="text-center align-middle">P/E TTM</th>
        <th scope="col" class="text-center align-middle">1D - Chg</th>
        <th scope="col" class="text-center align-middle">1Y - Chg</th>
        <th scope="col" class="text-center align-middle">Beta</th>
        <th scope="col" class="text-center align-middle">Comment</th>
        <th scope="col" class="text-center align-middle"> BG LTV (<%= Portfolio.find_by(fund: 'BGLTV').date.strftime("%d/%m/%y") %>) weight (%)</th>
      </tr>
    </thead>
    <tbody style="height: 10px !important; overflow: scroll;">
      <% @stocks.order("beta_ft DESC").each do |stock| %>
        <tr>
          <td class="align-middle" style="width: 200px;"><%= link_to stock.name, stock_path(stock)  %></td>
          <td class="text-center align-middle"><%= stock.identifier %></td>
          <td class="text-center align-middle"><%= stock.price %></td>
          <td class="text-center align-middle" style="width: 130px;"><%= stock.ebitda.split("Market cap")[1].split("EPS")[0] unless stock.ebitda.nil? %></td>
          <td class="text-center align-middle" style="width: 130px;"><%= stock.revenue.split("Revenue in ").pop.split("Net income ").first.sub('(TTM)', '').split(" ").last unless stock.revenue.nil? %></td>
          <td class="text-center align-middle"><%= stock.ebitda.split("P/E (TTM)").last.split("Market cap").first unless stock.ebitda.nil?%></td>
          <td class="text-center align-middle"><%= stock.price_1chg.split(" / ").last unless stock.price_1chg.nil? %></td>
          <td class="text-center align-middle"><%= stock.price_yrchg %></td>
          <td class="text-center align-middle"><%= stock.beta_ft %></td>
          <td class="text-center align-middle"><%= stock.comments.count %></td>
          <td class="text-center align-middle" style="width: 10px;"><% recherche = Stock.find_by(name: stock.name).id %> <%= Portfolio.find_by(stock_id: recherche).weight unless Portfolio.find_by(stock_id: recherche).nil? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

