<% if current_user.admin %>
  <div class="stock-index-admin">
    <a href="stocks/new"><button class="button type1">New Stock</button></a>
  </div>
  <% else %>
    <div class="stock-index-no-admin">
      <button class="button type1">STOCKS</button>
    </div>
<% end %>


  <main class="content">
    <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12">
            <div class="card">
              <div class="card-header">
                <%= form_tag stocks_path, method: :get do %>
                <div class="search-form-control form-group mb-3 w-100" id="search-data" data-stocks="<%= @stockslist.to_json %>">
                <%= text_field_tag :query,
                    params[:query],
                    class: "form-control mb-1 h-auto rounded",
                    placeholder: "Find a Company or Type a sector" %>
                <%= submit_tag "Search", class: "btn-ghost mt-3" %>
                </div>
              <% end %>
              <h3><%= @stocks.count %> stocks</h3>
              </div>
                <table id="dataTable"  data-stock="<% @datasetstocks.to_json %>" class="table mb-0">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col" class="text-center">Identifier</th>
                      <th scope="col" class="text-center">Daily Chg</th>
                      <th scope="col" class="text-center">Yearly Chg</th>
                      <th scope="col" class="text-center">PE ratio</th>
                      <th scope="col" class="text-center">Beta</th>
                      <th scope="col" class="text-center">Market Cap</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @stocks.order("price_1chg DESC").each do |stock| %>
                      <tr>
                        <td scope="row"><%= link_to stock.name, stock_path(stock) %></th>
                        <td class="text-center"><%= stock.identifier.split(":").first %></td>
                        <% if  stock.price_1chg > 0 %>
                          <td class="text-center text-success"><i class="fa fa-caret-up mr-2" style="color:#28a745;"></i>   <%= stock.price_1chg.round(1) %>%</td>
                        <% else %>
                          <td class="text-center text-danger"><i class="fa fa-caret-down mr-2" style="color:#cf1b1b;"></i>  <%= stock.price_1chg.round(1) %>%</td>
                        <% end %>
                        <% if  stock.price_yrchg.to_f > 0 %>
                        <td class="text-center text-success"><i class="fa fa-caret-up mr-2" style="color:#28a745;"></i>   <%= stock.price_yrchg.to_f.round(1) %>%</td>
                        <% else %>
                        <td class="text-center text-danger"><i class="fa fa-caret-down mr-2" style="color:#cf1b1b;"></i>  <%= stock.price_yrchg.to_f.round(1) %>%</td>
                        <% end %>
                        <td class="text-center"><%= stock.ebitda.split("P/E (TTM)").last.split("Market cap").first.to_f.round(1) unless stock.ebitda.nil?%>x</td>
                        <td class="text-center"><%= stock.beta_ft.round(2) %></td>
                        <td class="text-center"><%= stock.ebitda.split("Market cap")[1].split("EPS")[0] unless stock.ebitda.split("Market cap")[1].nil? %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
</div>





