<div class="container">
  <div class="targets">
    <div class="row">
    <h1>BG Long Term Value</h1>
       <%= link_to "Create a new stock", new_stock_path, class: "btn btn-ghost mb-3 mr-5 ml-5" %>

       </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" class="text-center align-middle">Name</th>
              <th scope="col" class="text-center align-middle">Identifier</th>
              <th scope="col" class="text-center align-middle">Price</th>
              <th scope="col" class="text-center align-middle">Currency</th>
              <th scope="col" class="text-center align-middle">Mkt Cap</th>
              <th scope="col" class="text-center align-middle">Revenue TTM</th>
              <th scope="col" class="text-center align-middle">P/E TTM</th>
              <th scope="col" class="text-center align-middle">earnings</th>
              <th scope="col" class="text-center align-middle">net_debt</th>
              <th scope="col" class="text-center align-middle">1D - Chg</th>
              <th scope="col" class="text-center align-middle">1Y - Chg</th>
              <th scope="col" class="text-center align-middle">Beta</th>
              <th scope="col" class="text-center align-middle">Comment</th>

            </tr>
          </thead>
          <tbody style="height: 10px !important; overflow: scroll;">
            <% @stocks.order("beta_ft DESC").each do |stock| %>
              <tr>
                <td class="align-middle"><%= link_to stock.name, stock_path(stock)  %></td>
                <td class="align-middle"><%= stock.identifier %></td>
                <td class="align-middle"><%= stock.price %></td>
                <td class="align-middle"><%= stock.currency %></td>
                <td class="text-center align-middle"><%= stock.ebitda.split("Market cap")[1].split("EPS")[0] unless stock.ebitda.nil? %></td>
                <td class="text-center align-middle"><%= stock.revenue.split("Revenue in ").pop.split("Net income ").first.sub('(TTM)', '') unless stock.revenue.nil? %></td>
                <td class="text-center align-middle"><%= stock.ebitda.split("P/E (TTM)").last.split("Market cap").first unless stock.ebitda.nil?%></td>
                <td class="text-center align-middle"><%= stock.earning %></td>
                <td class="text-center align-middle"><%= stock.net_debt %></td>
                <td class="text-center align-middle"><%= stock.price_1chg %></td>
                <td class="text-center align-middle"><%= stock.price_yrchg %></td>
                <td class="text-center align-middle"><%= stock.beta_ft %></td>
                <td class="text-center align-middle"><%= stock.comments.count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to "Back to Home", root_path, class: "btn btn-ghost mb-3 mr-5 ml-5" %>
</div>



