<h1>Create a new stock</h1>

    <div class="container">
        <%= simple_form_for @stock  do |f| %>
        <%= f.input :name %>
        <%= f.input :currency %>
        <%= f.input :identifier %>
        <%= f.input :sector %>
        <%= f.submit "Create", class: "btn btn-primary" %>
      <% end %>
    </div>

