<div class="container">
  <div class="row mt-3 mb-3">
    <h1><%= @stock.name %></h1>
      <%= link_to "Back to Stocks", stocks_path, class: "btn btn-primary btn-block mb-3 mr-5 ml-5", style:"width: 200px" %>
      <% if  @stock.price_1chg.split(" / ").last.to_f > 0%>
              <h2 class="text-success">Daily:  <%= @stock.price_1chg.split(" / ").last unless @stock.price_1chg.nil? %></h2>
            <% else %>
              <h2 class="text-danger">Daily: <%= @stock.price_1chg.split(" / ").last unless @stock.price_1chg.nil? %></h2>
          <% end %>
      <p class="text-justify"><%= @stock.earning %></p>
    <%= link_to "Create a new comment",  new_stock_comment_path(@stock), class: "btn btn-primary btn-block w-100 mb-2 mt-2 mr-2 ml-2"  %>
  </div>

  <div class="stock_newsflow" data-name="<%= @stock.name %>" data-identifier="<%= @stock.identifier %>"></div>

  <div class="container text-justify overflow-auto">
   <% @stock.comments.order("date DESC").each do |comment| %>
      <div class="border-top"></div>
      <h3 class="p-3 mb-2 bg-info text-white w-100 text-left mb-2 mt-2 mr-2 ml-2 rounded font-weight-light"> <%= comment.date.strftime("%d/%m/%y") %>, <%= comment.category %>, <em>source: <%= comment.source %></em></h3>
      <p><%=raw comment.content %></p>
    <% end %>
  </div>
</div>
