<% if current_user.admin %>
  <div class="stock-show-admin">
    <a href="/stocks/<%= @stock.id %>/comments/new"><button class="button type2">New Comment</button></a>
  </div>
<% end %>

<div class="stock-show-container">
  <main class="main-container">
    <% if @stock.tag_counts.count > 0  %>
      <div class="top-tags-container">
        <div class="tags-btn-robinhood">
          <a class="a-tags-link a-tags-inherit">
            <span class="btn-tags-span"><%= @stock.tag_list[0] %></span>
          </a>
        </div>
        <div class="tags-btn-robinhood">
          <a class="a-tags-link a-tags-inherit" rel href="#">
            <span class="btn-tags-span"><%= @stock.tag_list[1] %></span>
           </a>
        </div>
        <div class="tags-btn-robinhood">
          <a class="a-tags-link a-tags-inherit" rel href="#">
            <span class="btn-tags-span"><%= @stock.tag_list[2] %></span>
           </a>
        </div>
      </div>
    <% end %>
  </main>
  <div class="show-row">
    <div class="show-content-col-12">
      <header class="show-header">
        <h1 class="stock-show-name"><%= @stock.name %></h1>
      </header>
      <div>
        <%-# Section 1 -%>
          <section class="container-chart">
            <header class="header-chart">

            <%-# Header Graph div 1 -%>
              <div class="h-1">
                <h1 class="h-1-1">
                  <span class="h-1-1-s">
                    <span class="up">
                      <div class="h-1-1-s-u-d"><%= @stock.price %> <%= @stock.currency %></div>
                    </span>
                  </span>
                </h1>
              </div>

              <%-# Header Graph span 2, 2.1 et 2.2 -%>
              <div class="h-2">
                <span class="h-2-s1">
                  <span>
                    <span>-<%= @stock.price %> <%= @stock.currency %></span>
                  </span>
                  <span>
                    <span><%= @stock.price_yrchg %></span>
                  </span>
                </span>
                <span class="h-2-s2">Past Year.  as of <%= @stock.ebitda.split("Data delayed at least 15 minutes, as of").last.split(".More ▼").first unless @stock.ebitda.nil? %></span>
              </div>
            </header>

            <%-# Graph section -%>
            <div>
              <div class="graph-container">
                <div class="graph-container-size">
                </div>
              </div>
            </div>

            <%-# Nav section -%>
            <nav class="nav-graph" bounds="regular">
              <div class="nav-list">
                <button type="button" class="btn-nav-robinhood">
                  <span class="btn-nav-robinhood-span-1">
                    <span class="btn-nav-robinhood-pb">1D</span>
                  </span>
                </button>
                <button type="button" class="btn-nav-robinhood">
                  <span class="btn-nav-robinhood-span-1">
                    <span class="btn-nav-robinhood-pb">1W</span>
                  </span>
                </button>
                <button type="button" class="btn-nav-robinhood">
                  <span class="btn-nav-robinhood-span-1">
                    <span class="btn-nav-robinhood-pb">1M</span>
                  </span>
                </button>
                <button type="button" class="btn-nav-robinhood">
                  <span class="btn-nav-robinhood-span-1">
                    <span class="btn-nav-robinhood-pb">3M</span>
                  </span>
                </button>
                <button type="button" class="btn-nav-robinhood">
                  <span class="btn-nav-robinhood-span-1">
                    <span class="btn-nav-robinhood-pb">1Y</span>
                  </span>
                </button>
                <button type="button" class="btn-nav-robinhood">
                  <span class="btn-nav-robinhood-span-1">
                    <span class="btn-nav-robinhood-pb">5Y</span>
                  </span>
                </button>
              </div>
            </nav>
          </section>

        <%-# Section 2 -%>
        <section class="advertising-section">
          <div class="advertising-container">
            <div class="img-container">
                <svg class="svg-container" id="Layer_1" width="150" height="150" data-name="Layer 1" viewBox="0 0 695.5 609.6"><defs><style>.cls-1{fill:none;}.cls-2{fill:#5b321d;}.cls-3{fill:#ffffff;}.cls-4{fill:#ff5400;}.cls-5{fill:#ff5400;}.cls-6{fill:#ff5400;}</style></defs><path class="cls-1" d="M372.6,4h0Z"></path><path class="cls-1" d="M374.9,4.2h0Z"></path><path class="cls-1" d="M377.2,4.6l-1.6-.3Z"></path><path class="cls-1" d="M313.5,88.4a2,2,0,0,1,.1.7l2.3-.3h0C312.3,78.2,297,37,269.6,24.5c-10.1-4.6-19.5-5.9-27.8-4.6a42.5,42.5,0,0,1,14.5.8,40.9,40.9,0,0,0-16.4,18.8c-9.5,20.6-2.8,43.9,23.5,55.9l1.2.5L277,94.2v-.9Z"></path><path class="cls-1" d="M62.8,435.9A11.2,11.2,0,1,0,70.7,455a11.2,11.2,0,0,0,0-15.9A11.1,11.1,0,0,0,62.8,435.9Z"></path><path class="cls-1" d="M387,38.6a197.1,197.1,0,0,0,11.2,31.9C413.7,53.4,412.5,33,399.7,18A40,40,0,0,0,379.6,5.1a56,56,0,0,0-10,6.9c-23.3,19.9-24.3,66-24.4,72.8l14.7-2.1A186,186,0,0,0,387,38.6Z"></path><path class="cls-1" d="M368.9,4h0Z"></path><path class="cls-1" d="M379.4,5l-1.6-.3Z"></path><path class="cls-1" d="M554,34a10.8,10.8,0,0,0,7.9-3.3,11.2,11.2,0,1,0-15.8,0A10.8,10.8,0,0,0,554,34Z"></path><path class="cls-2" d="M359.9,82.7,383,79.5h0l3.9-.6V79l1.9-.3c1.4-.9,2.7-1.9,4-2.9a54.3,54.3,0,0,0,5.4-5.3A197.1,197.1,0,0,1,387,38.6,186,186,0,0,1,359.9,82.7Z"></path><path class="cls-2" d="M559.1,123.6s-72.7,34.4-126.4-7.3L314.1,132.7c-1.6,33.3-8.7,66.9-27.2,80.6l-14.3-15.1-32.8,10.9c17.9-13.3,29.8-41.3,34.8-71l-29,4h0l-3.9.6h0l-50.5,6.9-2.5-18.2a225.2,225.2,0,0,1-34.4-15.2c44.8,109.4-3.9,175.4-98.9,209.9,140.1,41.9,112,160.8,87,233.8,143.8-130,292.9-35.2,355,47-28.3-150,68.4-241.4,139-256.5C471.4,260.3,559.1,123.6,559.1,123.6ZM215.5,212.1a21.9,21.9,0,0,0,17.1,17.1,21.7,21.7,0,0,0-17.1,17,21.6,21.6,0,0,0-17-17A21.8,21.8,0,0,0,215.5,212.1Zm283.6,109L477.9,481.6,301.4,458.3h0l-3.9-.5h0l-47.4-6.3h0L185.6,443l6.9-52.7h0l.5-4h.1l6.7-51.2h0l.5-3.9h.1l6.4-48.8,55,7.3h0l3.9.5h0l5.8.8,71.7-124.9,57.7,33.2L435.2,174l75.6,102.7-52.9,38.9Z"></path><circle class="cls-3" cx="215.5" cy="229.2" r="17.1"></circle><polygon class="cls-4" points="400.9 199.3 343.2 166.1 271.5 291 275.5 291.5 400.9 199.3"></polygon><path class="cls-5" d="M472.6,273.8a18.6,18.6,0,0,1,6.1-13.8l-37-50.3a17.8,17.8,0,0,1-9.4,2.6,18.7,18.7,0,0,1-13.9-6.2l-120,88.4,51.3,6.8-10.2-13.9a42.6,42.6,0,0,1,17.7,2.3,24.7,24.7,0,0,1,7.6-9.2,25.7,25.7,0,0,1,11-4.5,41.8,41.8,0,0,1,3.1-17.5l20,27.3a24.1,24.1,0,0,1,3.4,22.5l32.3,4.2h.5l40-29.5A18.3,18.3,0,0,1,472.6,273.8Zm-39.4-9.9a7.4,7.4,0,1,1,1.6-10.4A7.5,7.5,0,0,1,433.2,263.9Z"></path><path class="cls-5" d="M435.2,174l-34.3,25.3L275.5,291.5l17.1,2.3,126.7-93.2,1.2,1.7h0a14.7,14.7,0,0,0,11.8,6,14.2,14.2,0,0,0,8.7-2.9l1.6-1.1L483,259.1l1.2,1.6-1.6,1.2a14.7,14.7,0,0,0-6,11.9,15,15,0,0,0,2.8,8.7l1.2,1.6-39.8,29.3,17.1,2.2,52.9-38.9Z"></path><path class="cls-2" d="M418.4,206.1a18.7,18.7,0,0,0,13.9,6.2,17.8,17.8,0,0,0,9.4-2.6l37,50.3a18.6,18.6,0,0,0-6.1,13.8,18.3,18.3,0,0,0,2.5,9.3l-40,29.5,5.7.8,39.8-29.3-1.2-1.6a15,15,0,0,1-2.8-8.7,14.7,14.7,0,0,1,6-11.9l1.6-1.2-1.2-1.6-40.4-54.8-1.6,1.1a14.2,14.2,0,0,1-8.7,2.9,14.7,14.7,0,0,1-11.8-6h0l-1.2-1.7L292.6,293.8l5.8.7Z"></path><path class="cls-2" d="M398.9,285.8l-20-27.3a41.8,41.8,0,0,0-3.1,17.5,25.7,25.7,0,0,0-11,4.5,24.7,24.7,0,0,0-7.6,9.2,42.6,42.6,0,0,0-17.7-2.3l10.2,13.9,52.6,7A24.1,24.1,0,0,0,398.9,285.8Z"></path><path class="cls-2" d="M424.5,252a7.4,7.4,0,0,0,8.7,11.9,7.4,7.4,0,1,0-8.7-11.9Z"></path><path class="cls-2" d="M263.4,95.4c-26.3-12-33-35.3-23.5-55.9a40.9,40.9,0,0,1,16.4-18.8,42.5,42.5,0,0,0-14.5-.8l-1.2.2h0c-13.5,2-24.2,10.8-30,23.6-9.5,20.6-2.8,43.9,23.5,55.9l1,.5,29.5-4.1Z"></path><path class="cls-4" d="M241.8,19.9c8.3-1.3,17.7,0,27.8,4.6C297,37,312.3,78.2,315.9,88.8c.1-4.8,1.2-26.1,8.4-45.8-6.8-9.5-15.3-18-25.4-22.6s-21-6.1-29.8-4.3H269l-28.4,4h0Z"></path><path class="cls-4" d="M370.3,4h5.3l1.6.3h.6l1.6.3h.2A40,40,0,0,1,399.7,18c12.8,15,14,35.4-1.5,52.5a54.3,54.3,0,0,1-5.4,5.3c-1.3,1-2.6,2-4,2.9l28-3.8,4-3.1c21.1-18,21.1-41.2,6.9-57.7C419.2,4.2,407.6-1.1,395.1.2h0L367.9,4h2.4Z"></path><path class="cls-2" d="M315.9,88.8l14.6-2v-.2l4-.6v.3l10.8-1.5c.1-6.8,1.1-52.9,24.4-72.8a56,56,0,0,1,10-6.9h-.2l-1.6-.3h-.6l-1.6-.3H368c-8.6.6-17.7,4.3-26.4,11.8S328.1,32.6,324.3,43c-7.2,19.7-8.3,41-8.4,45.8Z"></path><polygon class="cls-4" points="499.4 107.1 493.5 64.3 468.2 67.8 474.3 110.5 499.4 107.1"></polygon><polygon class="cls-4" points="313.6 89.1 330.5 86.8 330.5 86.8 315.9 88.8 313.6 89.1 313.6 89.1"></polygon><polygon class="cls-4" points="277 94.2 277 94.2 264.6 95.9 235.1 100 228 101 228 101 277 94.2"></polygon><polygon class="cls-4" points="388.8 78.7 386.9 79 386.9 79 437.5 72 443.4 114.8 470.3 111.1 464.3 68.3 466.3 68 416.8 74.9 388.8 78.7"></polygon><polygon class="cls-4" points="383 79.6 383 79.5 359.9 82.7 345.2 84.8 334.4 86.3 334.4 86.3 383 79.6"></polygon><path class="cls-3" d="M241.7,142.7l-5.9-42.8,3.9-.6,5.9,42.8,29-4A187.3,187.3,0,0,0,277,94.2L228,101l-42.7,5.9,3.4,24.5,2.5,18.2Z"></path><path class="cls-3" d="M386.9,79l5.9,42.6-3.9.6L383,79.6l-48.6,6.7,5.9,42.5-3.9.6-5.9-42.6-16.9,2.3a367.7,367.7,0,0,1,.5,43.6l118.6-16.4,10.7-1.5h0L437.5,72Z"></path><polygon class="cls-6" points="239.7 99.3 235.8 99.9 241.7 142.7 241.7 142.7 245.6 142.1 245.6 142.1 239.7 99.3"></polygon><polygon class="cls-6" points="336.4 129.4 340.3 128.8 334.4 86.3 334.4 86.3 334.4 86 330.4 86.6 330.5 86.8 330.5 86.8 336.4 129.4"></polygon><polygon class="cls-6" points="383 79.4 383 79.5 383 79.6 388.9 122.2 392.8 121.6 386.9 79 386.9 79 386.9 78.8 383 79.4"></polygon><polygon class="cls-2" points="470.3 111.1 470.3 111.1 474.3 110.5 474.3 110.5 468.2 67.8 468.2 67.8 466.3 68 464.3 68.3 470.3 111.1"></polygon><path class="cls-5" d="M313.6,89.1h0a2,2,0,0,0-.1-.7L277,93.3v.9h0a187.3,187.3,0,0,1-2.4,43.9c-5,29.7-16.9,57.7-34.8,71l32.8-10.9,14.3,15.1c18.5-13.7,25.6-47.3,27.2-80.6A367.7,367.7,0,0,0,313.6,89.1Z"></path><path class="cls-5" d="M603.4,497.1A37.1,37.1,0,0,1,574,526.5a37.4,37.4,0,0,1,29.4,29.4,37.7,37.7,0,0,1,29.4-29.4A37.4,37.4,0,0,1,603.4,497.1Z"></path><path class="cls-5" d="M57.2,141.4A49.8,49.8,0,0,1,18,180.5a49.8,49.8,0,0,1,39.2,39.2,49.8,49.8,0,0,1,39.2-39.2A49.8,49.8,0,0,1,57.2,141.4Z"></path><path class="cls-5" d="M636.2,133.4A49.8,49.8,0,0,1,597,172.5a49.8,49.8,0,0,1,39.2,39.2,49.8,49.8,0,0,1,39.2-39.2A49.8,49.8,0,0,1,636.2,133.4Z"></path><path class="cls-5" d="M306.9,597.6a6,6,0,1,0,6,6A6,6,0,0,0,306.9,597.6Z"></path><path class="cls-5" d="M95.9,21.6a6,6,0,1,0-6-6A6,6,0,0,0,95.9,21.6Z"></path><path class="cls-5" d="M682.8,273.3a6,6,0,0,0-6,6,6,6,0,0,0,12,0A6,6,0,0,0,682.8,273.3Z"></path><path class="cls-4" d="M62.8,431.9A15.2,15.2,0,1,0,78,447.1,15.2,15.2,0,0,0,62.8,431.9ZM70.7,455a11.2,11.2,0,1,1,0-15.9,11.2,11.2,0,0,1,0,15.9Z"></path><path class="cls-4" d="M554,38a15.2,15.2,0,1,0-15.2-15.2A15.2,15.2,0,0,0,554,38Zm-7.9-23.1a11.2,11.2,0,1,1,15.8,15.8,11.1,11.1,0,0,1-15.8,0,11.1,11.1,0,0,1,0-15.8Z"></path><polygon class="cls-3" points="206.4 282.5 498.7 321.6 477.7 480.6 185.4 443.5 206.4 282.5"></polygon><path class="cls-4" d="M420.8,416.9h0l30.3,4,6.2-46.7a6.8,6.8,0,0,1-3.9-5.1l-25.8-3.4.2-2h0l-7,53.1Z"></path><polygon class="cls-4" points="250.1 451.5 250.1 451.5 297.5 457.8 297.5 457.8 250.1 451.5"></polygon><path class="cls-4" d="M435.1,312.6h-.5l-6.5,49.2h0l25.8,3.4a6.9,6.9,0,0,1,5.1-3.9l5.9-44.7,3.9.6-5.9,44.7a6.7,6.7,0,0,1,3.9,5l25.8,3.5-.5,3.9-25.8-3.4a6.8,6.8,0,0,1-5.1,3.9L455,421.4l30.3,4-.5,4-30.3-4-6.9,52.2-4-.5,6.9-52.2-30.2-4.1.2-1.9-7.2,54.2-54.9-7.3h0l-4-.5h0l-53-7h0l176.5,23.3,21.2-160.5-41.2-5.5-17.1-2.2Z"></path><path class="cls-3" d="M254.1,347.6a6.9,6.9,0,0,1-5-5.9l-49.3-6.6-6.7,51.2,54.9,7.4Z"></path><path class="cls-3" d="M249.9,337.8a6.9,6.9,0,0,1,6-3.6l5.9-44.5-55-7.3-6.4,48.8Z"></path><path class="cls-3" d="M259.8,335.4a7.6,7.6,0,0,1,2.7,4.1l49.7,6.7,6.5-49,4,.5-6.5,49,53,7.1,6.5-49.1,3.9.6-6.5,49,55,7.4,6.5-49.2h0l-32.3-4.2-52.6-7-51.3-6.8-5.8-.7-17.1-2.3-4-.5-5.8-.8Z"></path><path class="cls-3" d="M369.8,414.1a6.8,6.8,0,0,1-5.1,4l-6.3,47.7,54.9,7.3,7.2-54.2-.2,1.9Z"></path><path class="cls-3" d="M356.8,412.3l-48.4-6.5-7,52.5,53,7,6.3-47.8A6.8,6.8,0,0,1,356.8,412.3Z"></path><polygon class="cls-3" points="304.4 405.3 251.5 398.2 244.5 450.8 240.5 450.2 247.5 397.7 192.5 390.3 185.6 443 250.1 451.5 297.5 457.8 304.4 405.3"></polygon><path class="cls-3" d="M357.4,408.4a7.1,7.1,0,0,1,5-3.8l6.2-46.8-52.9-7.1-6.8,51.2Z"></path><path class="cls-3" d="M262.2,343.5a6.9,6.9,0,0,1-4,4L252,394.2l52.9,7.1,6.8-51.2Z"></path><path class="cls-3" d="M366.4,405.1a7.1,7.1,0,0,1,3.9,5l50.5,6.8,7-53.1-.3,1.9-54.9-7.4Z"></path><rect class="cls-6" x="219.5" y="422.2" width="53" height="4" transform="translate(-206.8 612.5) rotate(-82.5)"></rect><path class="cls-6" d="M258.2,347.5a6.9,6.9,0,0,1-3.2.3l-.9-.2L248,393.7l4,.5Z"></path><path class="cls-6" d="M255.9,334.2h.9a7.7,7.7,0,0,1,3,1.1l5.9-45.2h0l-3.9-.5h0Z"></path><path class="cls-6" d="M249.1,341.7v-1.5a6.2,6.2,0,0,1,.8-2.4l-49.5-6.6h-.1l-.5,3.9h0Z"></path><polygon class="cls-6" points="373.1 354.3 372.6 358.3 427.5 365.7 427.8 363.8 427.8 363.7 428.1 361.7 428.1 361.7 373.1 354.3"></polygon><polygon class="cls-6" points="369.2 353.8 316.2 346.7 315.7 350.7 368.6 357.8 369.2 353.8"></polygon><path class="cls-6" d="M262.5,339.5a5.2,5.2,0,0,1,.1,2.5,4.2,4.2,0,0,1-.4,1.5l49.5,6.6.5-3.9Z"></path><path class="cls-6" d="M420.8,416.9l-50.5-6.8a7.4,7.4,0,0,1,0,2.1,4.1,4.1,0,0,1-.5,1.9l50.5,6.7.2-1.9h0l.3-2Z"></path><path class="cls-6" d="M356.8,412.3a6,6,0,0,1,0-1.9,6.6,6.6,0,0,1,.6-2l-48.5-6.5-.5,3.9Z"></path><polygon class="cls-6" points="251.5 398.2 304.4 405.3 304.9 401.3 252 394.2 248 393.7 193.1 386.3 193 386.3 192.5 390.3 192.5 390.3 247.5 397.7 251.5 398.2"></polygon><path class="cls-2" d="M427.6,365.7l25.8,3.4a6.7,6.7,0,0,1-.1-2,6.6,6.6,0,0,1,.6-2l-25.8-3.4h0l-.3,2Z"></path><path class="cls-2" d="M466.9,368.9a6,6,0,0,1-.6,1.9l25.8,3.4.5-3.9-25.8-3.5A14.8,14.8,0,0,1,466.9,368.9Z"></path><rect class="cls-2" x="467.9" y="410.1" width="4" height="30.56" transform="translate(-13.4 835.5) rotate(-82.5)"></rect><polygon class="cls-2" points="420.8 416.9 420.8 416.9 420.5 418.9 420.3 420.8 450.5 424.9 451.1 420.9 420.8 416.9"></polygon><polygon class="cls-6" points="308.4 405.8 308.9 401.9 315.7 350.7 316.2 346.7 322.7 297.7 318.7 297.2 312.2 346.2 311.7 350.1 304.9 401.3 304.4 405.3 297.5 457.8 297.5 457.8 297.5 457.8 301.4 458.3 301.4 458.3 301.4 458.3 308.4 405.8"></polygon><path class="cls-6" d="M362.7,418.1a6.6,6.6,0,0,1-2-.6l-6.3,47.8h0l4,.5h0l6.3-47.7Z"></path><path class="cls-6" d="M362.4,404.6a7.4,7.4,0,0,1,2.1,0l1.9.5,6.2-46.8.5-4,6.5-49-3.9-.6-6.5,49.1-.6,4Z"></path><path class="cls-2" d="M461,361.2a6,6,0,0,1,1.9.6l5.9-44.7-3.9-.6L459,361.2Z"></path><path class="cls-2" d="M459.2,374.7l-1.9-.5-6.2,46.7-.6,4-6.9,52.2,4,.5,6.9-52.2.5-4,6.2-46.7A6.7,6.7,0,0,1,459.2,374.7Z"></path><path class="cls-4" d="M258.2,347.5a6.9,6.9,0,0,0,4-4,4.2,4.2,0,0,0,.4-1.5,5.2,5.2,0,0,0-.1-2.5,7.6,7.6,0,0,0-2.7-4.1,7.7,7.7,0,0,0-3-1.1h-.9a6.9,6.9,0,0,0-6,3.6,6.2,6.2,0,0,0-.8,2.4v1.5a6.9,6.9,0,0,0,5,5.9l.9.2A6.9,6.9,0,0,0,258.2,347.5Z"></path><path class="cls-4" d="M366.4,405.1l-1.9-.5a7.4,7.4,0,0,0-2.1,0,7.1,7.1,0,0,0-5,3.8,6.6,6.6,0,0,0-.6,2,6,6,0,0,0,0,1.9,6.8,6.8,0,0,0,3.9,5.2,6.6,6.6,0,0,0,2,.6h2a6.8,6.8,0,0,0,5.1-4,4.1,4.1,0,0,0,.5-1.9,7.4,7.4,0,0,0,0-2.1A7.1,7.1,0,0,0,366.4,405.1Z"></path><path class="cls-2" d="M453.4,369.1a6.8,6.8,0,0,0,3.9,5.1l1.9.5a6.7,6.7,0,0,0,2,0,6.8,6.8,0,0,0,5.1-3.9,6,6,0,0,0,.6-1.9,14.8,14.8,0,0,0-.1-2.1,6.7,6.7,0,0,0-3.9-5,6,6,0,0,0-1.9-.6h-2a6.9,6.9,0,0,0-5.1,3.9,6.6,6.6,0,0,0-.6,2A6.7,6.7,0,0,0,453.4,369.1Z"></path></svg>
            </div>
            <div class="content-advertising">
              <h4 class="content-adv-h4"><span class="adv-h4-title">Why Dealflow by fix ?</span></h4>
              <div class="content-adv-div"><span class="adv-content">You can buy or sell Ford Motor and other stocks, options, ETFs, and crypto commission-free !</div>
              <footer class="footer-adv"><a class="footer-adv-content" rel="" href="#">Sign up for free !</a></footer>
            </div>
          </div>
        </section>

        <%-# Section 3 -%>
        <section class="about-valuation-section">
          <header class="header-about-section">
            <div class="container-title-about">
              <div class="title-about"><h2 class="title-content-h2"><span class="title-content-span">About <%= @stock.name %></span></h2></div>
            </div>
          </header>
          <div class="about-container">
            <h3 class="about-h3"><span class="about-span"><%= @stock.earning %>
            <a class="about-link" href="#" rel="nofollow noopener"><span class="about-link-span">Read More</span></a>
            <span class="about-span-no-display"><%= @stock.earning %></span>
            </span></h3>
            <div class="grid-valuation">
              <div class="grid-element-container">
                <div class="col-mg-val-1">
                  <div class="name-data">CEO</div>
                  <div class="value-data">James P. Hackett</div>
                </div>
                <div class="col-mg-val-2">
                  <div class="name-data">Employees</div>
                  <div class="value-data"><%= @stock.revenue.split("Employees").last %></div>
                </div>
                <div class="col-mg-val-3">
                  <div class="name-data">Headquarters</div>
                  <div class="value-data">Dearborn, Michigan</div>
                </div>
                <div class="col-mg-val-4">
                  <div class="name-data">Founded</div>
                  <div class="value-data">1903</div>
                </div>
                <div class="col-mg-val-5">
                  <div class="name-data">Market Cap</div>
                  <div class="value-data"><%= @stock.ebitda.split("Market cap").last.split("EPS").first unless @stock.ebitda.nil?%></div>
                </div>
                <div class="col-mg-val-6">
                  <div class="name-data">Price-Earnings Ratio</div>
                  <div class="value-data"><%= @stock.ebitda.split("P/E (TTM)").last.split("Market cap").first unless @stock.ebitda.nil?%></div>
                </div>
                <div class="col-mg-val-7">
                  <div class="name-data">Dividend Yield</div>
                  <div class="value-data">9,01</div>
                </div>
                <div class="col-mg-val-8">
                  <div class="name-data">Average volume</div>
                  <div class="value-data"><%= @stock.ebitda.split("volume").last.split("Shares outstanding").first unless @stock.ebitda.nil?%></div>
                </div>
                <div class="col-mg-val-9">
                  <div class="name-data">Earnings per share</div>
                  <div class="value-data"><%= @stock.ebitda.split("EPS (TTM)").last.split("Annual").first[0..5] unless @stock.ebitda.nil? %></div>
                </div>
                <div class="col-mg-val-10">
                  <div class="name-data">Low / High Today</div>
                  <div class="value-data"><%= @stock.ebitda.split("Low").last.split("Bid").first unless @stock.ebitda.nil? %> / <%= @stock.ebitda.split("High").last.split("Low").first unless @stock.ebitda.nil? %></div>
                </div>
                <div class="col-mg-val-11">
                  <div class="name-data">Open Price</div>
                  <div class="value-data"><%= @stock.ebitda.split("Open").last.split("High").first unless @stock.ebitda.nil? %></div>
                </div>
                <div class="col-mg-val-12">
                  <div class="name-data">Free float</div>
                  <div class="value-data"><%= @stock.ebitda.split("Free float").last.split("P/E (TTM)").first unless @stock.ebitda.nil? %></div>
                </div>
                <div class="col-mg-val-13">
                  <div class="name-data">52 Week High</div>
                  <div class="value-data">10,35 $US</div>
                </div>
                <div class="col-mg-val-14">
                  <div class="name-data">52 Week Low</div>
                  <div class="value-data">3,96 $US</div>
                </div>
              </div>
            </div>
          </div>
          </section>
        </section>

        <%-# Section 4 -%>
        <section class="collection-tags-section">
          <header class="header-tags-section">
            <div class="container-title-tags">
              <div class="title-tags">
                <h2 class="title-content-h2"><span class="title-content-span">Collections</title></h2>
              </div>
            </div>
          </header>
          <div class="tags-div-container">
            <div class="tags-btn-robinhood">
              <a class="a-tags-link a-tags-inherit" rel href="#">
                <span class="btn-tags-span">Road Transportation</span>
              </a>
            </div>
            <div class="tags-btn-robinhood">
              <a class="a-tags-link a-tags-inherit" rel href="#">
                <span class="btn-tags-span">100 Most Popular</span>
              </a>
            </div>
            <div class="tags-btn-robinhood">
              <a class="a-tags-link a-tags-inherit" rel href="#">
                <span class="btn-tags-span">Most Popular Under 25$</span>
              </a>
            </div>
            <div class="tags-btn-robinhood">
              <a class="a-tags-link a-tags-inherit" rel href="#">
                <span class="btn-tags-span">Transportation</span>
              </a>
            </div>
            <div class="tags-btn-robinhood">
              <a class="a-tags-link a-tags-inherit" rel href="#">
                <span class="btn-tags-span">Manufacturing</span>
              </a>
            </div>
            <div class="tags-btn-robinhood">
              <a class="a-tags-link a-tags-inherit" rel href="#">
                <span class="btn-tags-span">Automotive</span>
              </a>
            </div>
            <div class="tags-btn-robinhood">
              <a class="a-tags-link a-tags-inherit" rel href="#">
                <span class="btn-tags-span">Rental and Lease</span>
              </a>
            </div>
            <div class="tags-btn-robinhood">
              <a class="a-tags-link a-tags-inherit" rel href="#">
                <span class="btn-tags-span">US</span>
              </a>
            </div>
          </div>
        </section>

        <%-# Section 5-%>
        <section class="digestible-news-section">
          <header class="header-digestible-section">
            <div class="container-digestible-news">
              <div class="title-digestible-news">
                <h2 class="title-content-h2"><span class="title-content-span">Digestible Fianancial News</span></h2>
              </div>
            </div>
          </header>
          <div class="digestible-mng-ctn">
            <div>
              <%= image_tag "fix.jpg", class: 'our-faces' %>
              <%= image_tag "vic.jpg", class: 'our-faces' %>
            </div>
            <div class="our-pres-ctn">
              <h3 class"our-names-ctn"><span class="our-names">François-Xavier Baud & Victor Larrezet</span></h3>
              <span class="our-roles">Managing Editors of News & Snacks at Boussard & Gavaudan</span>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>



<div class="stock-show-nav-container">
  <div class="stock-show-about-section">
    <div class="stock-name"><%= @stock.name %></div>
      <div class="wrapper-about-section justify-content-center">
      <div class="menu">
        <div class="stock-show-tab mb-4 d-flex justify-content-center" tabindex="0">
          <button class="accordion-tab" data-actab-group="0" data-actab-id="0" data-stock="<%= @stock.name %>" data-name="1DCHG"><div class="circle"><i class="fas fa-hashtag"></i></div>Daily Chg: <%= @stock.price_1chg.round(2) %>%</button>
          <button class="accordion-tab" data-actab-group="0" data-actab-id="1" data-stock="<%= @stock.name %>" data-name="COMMENTS"><div class="circle"><i class="fas fa-hashtag"></i></div>Comments</button>
          <button class="accordion-tab" data-actab-group="0" data-actab-id="2" data-stock="<%= @stock.name %>" data-name="FINANCIAL TIMES"><div class="circle"><i class="fas fa-hashtag"></i></div>Financial Times</button>
          <button class="accordion-tab" data-actab-group="0" data-actab-id="3" data-stock="<%= @stock.name %>" data-name="MORNINGSTAR"><div class="circle"><i class="fas fa-hashtag"></i></div>Morningstar</button>
        </div>
      </div>
        <div class="about-content text-justify"><%= @stock.earning %></div>
    </div>

  <div><hr class="separator"></hr></div>

  <div class="accordion-item accordion-active" data-actab-group="0" data-actab-id="1">
    <div class="accordion-item__container accordion-item__label">
      <ul class="stock-show-table">
        <% @stock.comments.order("date DESC").each do |comment| %>
          <li class="li-box stock-show-row m_button">
            <div class="col-nb-1-stock-show"><%= comment.date.strftime("%d/%m/%y") %></div>
            <div class="col-nb-2-stock-show"><i class="far fa-dot-circle"></i></div>
            <div class="col-nb-3-stock-show"><%= link_to comment.content[0..100], comment_path(comment) %></div>
            <div class="col-nb-5-stock-show action__container"><button class="action action--like"><i class="action__icon far fa-star"></i></button></div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="stock-show-timeline"></div>
  </div>

  <div class="accordion-item" data-actab-group="0" data-actab-id="2">
    <div class="accordion-item__container accordion-item__label">
      <ul class="stock-show-ft-table">
        <% @stock.articles.order("date DESC").each do |article| %>
          <li class="li-box-ft stock-show-row-ft m_button">
            <%= link_to "", "https://www.ft.com/content/#{article.url}", class: "stock-index-ft-a", :target => "_blank" %>
            <div class="col-nb-1-stock-show-ft"><%= article.date.strftime("%d/%m/%y") %></div>
            <div class="col-nb-2-stock-show-ft"><i class="far fa-dot-circle"></i></div>
            <div class="col-nb-3-stock-show-ft"><%= article.title %></div>
            <div class="col-nb-4-stock-show-ft"><i class="fas fa-trash"></i></div>
            <div class="col-nb-5-stock-show-ft action__container"><button class="action action--like"><i class="action__icon far fa-star"></i></button></div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="accordion-item" data-actab-group="0" data-actab-id="3">
    <div class="accordion-item__container accordion-item__label">
        <div class="morningstar-container">
          <div class="mg-text"><h2 class="mg-t">Current valuation</h2></div>
          <div class="mg-color">
            <div class="mg-c-c">
                <div class="mg-data-container">
                  <% @stock.fundamentals.each do |fundamental| %>
                    <div class="col-mg-2">
                      <div class="col-mg-data price-sales-newsflow" data-value="<%= fundamental.current_price_sales %>"></div>
                      <div class="data-name">PRICE/SALES</div>
                    </div>
                    <div class="col-mg-6">
                      <div class="col-mg-data price-earnings-newsflow" data-value="<%= fundamental.current_price_earnings %>"></div>
                      <div class="data-name">PRICE/EARNINGS</div>
                    </div>
                    <div class="col-mg-8">
                      <div class="col-mg-data price-cashflow-newsflow" data-value="<%= fundamental.current_price_cashflow %>"></div>
                      <div class="data-name">PRICE/CASHFLOW</div>
                    </div>
                  <% end %>
                </div>
            </div>
          </div>
        </div>
        <div class="morningstar-container-reverse">
          <div class="mg-color">
            <div class="mg-c-c">
                <div class="mg-data-container">
                  <% @stock.fundamentals.each do |fundamental| %>
                    <div class="col-mg-2">
                    <div class="col-mg-data price-book-newsflow" data-value="<%= fundamental.current_price_book %>"></div>
                      <div class="data-name">PRICE/BOOK</div>
                    </div>
                    <div class="col-mg-4">
                    <div class="col-mg-data price-forward-earnings-newsflow" data-value="<%= fundamental.current_price_forward_earnings %>"></div>
                      <div class="data-name">PRICE/FORWARD EARNINGS</div>
                    </div>
                    <div class="col-mg-8">
                    <div class="col-mg-data earning-yield-newsflow" data-value="<%= fundamental.current_earning_yield %>"></div>
                      <div class="data-name">EARNINGS YIELD</div>
                    </div>
                  <% end %>
                </div>
            </div>
          </div>
          <div class="mg-text"><h2 class="mg-t">MorningStar,<br> Current valuation.</h2></div>
        </div>
        <div class="morningstar-container">
          <div class="mg-text"><h2 class="mg-t">MorningStar,<br> Enterprise Value.</h2></div>
          <div class="mg-color">
            <div class="mg-c-c">
                <div class="mg-data-container">
                  <% @stock.fundamentals.each do |fundamental| %>
                    <div class="col-mg-2">
                    <div class="col-mg-data enterprise-value-newsflow" data-value="<%= fundamental.current_enterprise_value %>"></div>
                      <div class="data-name">ENTERPRISE VALUE (Bil or Mil)</div>
                    </div>
                    <div class="col-mg-6">
                    <div class="col-mg-data enterprise-value-ebit-newsflow" data-value="<%= fundamental.current_enterprise_value_ebit %>"></div>
                      <div class="data-name">ENTERPRISE VALUE/EBIT</div>
                    </div>
                    <div class="col-mg-8">
                      <div class="col-mg-data enterprise-value-ebitda-newsflow" data-value="<%= fundamental.current_enterprise_value_ebitda %>">-</div>
                      <div class="data-name">ENTERPRISE VALUE/EBITDA</div>
                    </div>
                  <% end %>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

