<% if current_user.admin %>
  <div class="stock-show-admin">
    <a href="/stock/<%= @stock.id %>/comments/new"><button class="button type2">New Comment</button></a>
  </div>
<% else %>
  <div class="stock-show-no-admin">
      <button class="button type2">NEWSFLOW</button>
  </div>
<% end %>

<div class="stock-show-nav-container">
  <div class="stock-show-header-container">
    <div class="stock-show-button" tabindex="0">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </div>
    <div class="stock-show-title"><%= @stock.name %> : NEWSFLOW</div>
  </div>
  <div class="show-bg-body min-height"></div>
  <div class="accordion-item accordion-active" data-actab-group="0" data-actab-id="0">
    <div class="accordion-item__container accordion-item__label"> 
      <ul class="stock-show-table">
        <% @stock.comments.order("date DESC").each do |comment| %>
          <li class="li-box stock-show-row m_button">
            <div class="col-nb-1-stock-show"><%= comment.date.strftime("%d/%m/%y") %></div>
            <div class="col-nb-2-stock-show"><i class="far fa-dot-circle"></i></div>
            <div class="col-nb-3-stock-show"><%= comment.category %> source: <%= comment.source %></div>
            <div class="col-nb-4-stock-show"><i class="fas fa-trash"></i></div>
            <div class="col-nb-5-stock-show action__container"><button class="action action--like"><i class="action__icon far fa-star"></i></button></div>
            </li>
            <div class="content-window"><%=raw comment.content %></div>
        <% end %>
      </ul>
    </div>
    <div class="stock-show-timeline"></div>
    <div class="bg min-height"></div>
    <div class="stock-show-tab min-height" tabindex="0">
      <ul>
        <button class="accordion-tab accordion-active" data-actab-group="0" data-actab-id="0" data-stock="<%= @stock.name %>" data-name="NEWSFLOW">NEWSFLOW</button>
        <button class="accordion-tab" data-actab-group="0" data-actab-id="1" data-stock="<%= @stock.name %>" data-name="COMMENTS">COMMENTS</button>
        <button class="accordion-tab" data-actab-group="0" data-actab-id="2" data-stock="<%= @stock.name %>" data-name="FINANCIAL TIMES">FINANCIAL TIMES</button>
        <button class="accordion-tab" data-actab-group="0" data-actab-id="3" data-stock="<%= @stock.name %>" data-name="MORNINGSTAR">MORNINGSTAR</button>
      </ul>
    </div>
  </div>
  <div class="accordion-item" data-actab-group="0" data-actab-id="1">
    <div class="accordion-item__container accordion-item__label"> 
      <ul class="stock-show-table">
        <% @stock.comments.order("date DESC").each do |comment| %>
          <li class="li-box stock-show-row m_button">
            <div class="col-nb-1-stock-show"><%= comment.date.strftime("%d/%m/%y") %></div>
            <div class="col-nb-2-stock-show"><i class="far fa-dot-circle"></i></div>
            <div class="col-nb-3-stock-show"><%= comment.category %> source: <%= comment.source %></div>
            <div class="col-nb-4-stock-show"><i class="fas fa-trash"></i></div>
            <div class="col-nb-5-stock-show action__container"><button class="action action--like"><i class="action__icon far fa-star"></i></button></div>
          </li>
          <div class="content-window"><%=raw comment.content %></div>
        <% end %>
      </ul>
    </div>
    <div class="stock-show-timeline"></div>
    <div class="bg"></div>
    <div class="stock-show-tab no-display" tabindex="0">
      <ul>
        <button class="accordion-tab" data-actab-group="0" data-actab-id="0" data-stock="<%= @stock.name %>" data-name="NEWSFLOW">NEWSFLOW</button>
        <button class="accordion-tab" data-actab-group="0" data-actab-id="1" data-stock="<%= @stock.name %>" data-name="COMMENTS">COMMENTS</button>
        <button class="accordion-tab" data-actab-group="0" data-actab-id="2" data-stock="<%= @stock.name %>" data-name="FINANCIAL TIMES">FINANCIAL TIMES</button>
        <button class="accordion-tab" data-actab-group="0" data-actab-id="3" data-stock="<%= @stock.name %>" data-name="MORNINGSTAR">MORNINGSTAR</button>
      </ul>
    </div>
  </div>
  <div class="accordion-item" data-actab-group="0" data-actab-id="2">
    <div class="accordion-item__container accordion-item__label"> 
      <ul class="stock-show-table">
        <% @stock.comments.order("date DESC").each do |comment| %>
          <li class="li-box stock-show-row m_button">
            <div class="col-nb-1-stock-show"><%= comment.date.strftime("%d/%m/%y") %></div>
            <div class="col-nb-2-stock-show"><i class="far fa-dot-circle"></i></div>
            <div class="col-nb-3-stock-show"><%= comment.category %> source: <%= comment.source %></div>
            <div class="col-nb-4-stock-show"><i class="fas fa-trash"></i></div>
            <div class="col-nb-5-stock-show action__container"><button class="action action--like"><i class="action__icon far fa-star"></i></button></div>
          </li>
          <div class="content-window"><%=raw comment.content %></div>
        <% end %>
      </ul>
    </div>
    <div class="stock-show-timeline"></div>
    <div class="bg"></div>
    <div class="stock-show-tab no-display" tabindex="0">
      <ul>
        <button class="accordion-tab" data-actab-group="0" data-actab-id="0" data-stock="<%= @stock.name %>" data-name="NEWSFLOW">NEWSFLOW</button>
        <button class="accordion-tab" data-actab-group="0" data-actab-id="1" data-stock="<%= @stock.name %>" data-name="COMMENTS">COMMENTS</button>
        <button class="accordion-tab" data-actab-group="0" data-actab-id="2" data-stock="<%= @stock.name %>" data-name="FINANCIAL TIMES">FINANCIAL TIMES</button>
        <button class="accordion-tab" data-actab-group="0" data-actab-id="3" data-stock="<%= @stock.name %>" data-name="MORNINGSTAR">MORNINGSTAR</button>
      </ul>
    </div>
  </div>
  <div class="accordion-item" data-actab-group="0" data-actab-id="3">
    <div class="accordion-item__container accordion-item__label"> 
      <div class="morning-star-grid-positive">
        <div class="col-mg-1"></div>
        <div class="col-mg-2"></div>
        <div class="col-mg-3">
          <div class="col-mg-data"></div>
          <div class="col-mg-graph"></div>
        </div>
        <div class="col-mg-4"></div>
      </div>
      <div class="morning-star-grid-data-name">
        <div class="col-mg-5">PRICE/SALES</div>
        <div class="col-mg-6">PRICE/EARNINGS</div>
        <div class="col-mg-7">PRICE/CASHFLOW</div>
        <div class="col-mg-8">PRICE/BOOK</div>
      </div>
      <div class="morning-star-grid-positive">
        <div class="col-mg-1"></div>
        <div class="col-mg-2"></div>
        <div class="col-mg-3">
          <div class="col-mg-data">1</div>
          <div class="col-mg-graph"></div>
        </div>
        <div class="col-mg-4"></div>
      </div>
      <div class="morning-star-grid-data-name">
        <div class="col-mg-5">PRICE/FORWARD EARNINGS</div>
        <div class="col-mg-6">EARNINGS YIELD</div>
        <div class="col-mg-7">ENTERPRISE VALUE (Bil)</div>
        <div class="col-mg-8">ENTERPRISE VALUE/EBIT</div>
      </div>
    </div>
    <div class="bg"></div>
    <div class="stock-show-tab no-display" tabindex="0">
      <ul>
        <button class="accordion-tab" data-actab-group="0" data-actab-id="0" data-stock="<%= @stock.name %>" data-name="NEWSFLOW">NEWSFLOW</button>
        <button class="accordion-tab" data-actab-group="0" data-actab-id="1" data-stock="<%= @stock.name %>" data-name="COMMENTS">COMMENTS</button>
        <button class="accordion-tab" data-actab-group="0" data-actab-id="2" data-stock="<%= @stock.name %>" data-name="FINANCIAL TIMES">FINANCIAL TIMES</button>
        <button class="accordion-tab" data-actab-group="0" data-actab-id="3" data-stock="<%= @stock.name %>" data-name="MORNINGSTAR">MORNINGSTAR</button>
      </ul>
    </div>
  </div>
</div>
