<% if current_user.admin %>
  <div class="stock-show-admin">
    <a href="/stocks/<%= @stock.id %>/comments/new"><button class="button type2">New Comment</button></a>
  </div>
<% end %>

<div class="stock-show-container">
  <main class="main-container">
    <% if @stock.tag_counts.count > 0  %>
      <div class="top-tags-container">
        <div class="tags-btn-robinhood">
          <a class="a-tags-link a-tags-inherit">
            <span class="btn-tags-span"><%= @stock.tag_list[0] %></span>
          </a>
        </div>
        <div class="tags-btn-robinhood">
          <a class="a-tags-link a-tags-inherit" rel href="#">
            <span class="btn-tags-span"><%= @stock.tag_list[1] %></span>
           </a>
        </div>
        <div class="tags-btn-robinhood">
          <a class="a-tags-link a-tags-inherit" rel href="#">
            <span class="btn-tags-span"><%= @stock.tag_list[2] %></span>
           </a>
        </div>
      </div>
    <% end %>
  </main>
  <div class="show-row">
    <div class="show-content-col-12">
      <header class="show-header">
        <h1 class="stock-show-name"><%= @stock.name %></h1>
      </header>
    </div>
  </div>
</div>
<div class="stock-show-nav-container">
  <div class="stock-show-about-section">
    <div class="stock-name"><%= @stock.name %></div>
      <div class="wrapper-about-section justify-content-center">
      <div class="menu">
        <div class="stock-show-tab mb-4 d-flex justify-content-center" tabindex="0">
          <button class="accordion-tab" data-actab-group="0" data-actab-id="0" data-stock="<%= @stock.name %>" data-name="1DCHG"><div class="circle"><i class="fas fa-hashtag"></i></div>Daily Chg: <%= @stock.price_1chg.round(2) %>%</button>
          <button class="accordion-tab" data-actab-group="0" data-actab-id="1" data-stock="<%= @stock.name %>" data-name="COMMENTS"><div class="circle"><i class="fas fa-hashtag"></i></div>Comments</button>
          <button class="accordion-tab" data-actab-group="0" data-actab-id="2" data-stock="<%= @stock.name %>" data-name="FINANCIAL TIMES"><div class="circle"><i class="fas fa-hashtag"></i></div>Financial Times</button>
          <button class="accordion-tab" data-actab-group="0" data-actab-id="3" data-stock="<%= @stock.name %>" data-name="MORNINGSTAR"><div class="circle"><i class="fas fa-hashtag"></i></div>Morningstar</button>
        </div>
      </div>
        <div class="about-content text-justify"><%= @stock.earning %></div>
    </div>

  <div><hr class="separator"></hr></div>

  <div class="accordion-item accordion-active" data-actab-group="0" data-actab-id="1">
    <div class="accordion-item__container accordion-item__label">
      <ul class="stock-show-table">
        <% @stock.comments.order("date DESC").each do |comment| %>
          <li class="li-box stock-show-row m_button">
            <div class="col-nb-1-stock-show"><%= comment.date.strftime("%d/%m/%y") %></div>
            <div class="col-nb-2-stock-show"><i class="far fa-dot-circle"></i></div>
            <div class="col-nb-3-stock-show"><%= link_to comment.content[0..100], comment_path(comment) %></div>
            <div class="col-nb-5-stock-show action__container"><button class="action action--like"><i class="action__icon far fa-star"></i></button></div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="stock-show-timeline"></div>
  </div>

  <div class="accordion-item" data-actab-group="0" data-actab-id="2">
    <div class="accordion-item__container accordion-item__label">
      <ul class="stock-show-ft-table">
        <% @stock.articles.order("date DESC").each do |article| %>
          <li class="li-box-ft stock-show-row-ft m_button">
            <%= link_to "", "https://www.ft.com/content/#{article.url}", class: "stock-index-ft-a", :target => "_blank" %>
            <div class="col-nb-1-stock-show-ft"><%= article.date.strftime("%d/%m/%y") %></div>
            <div class="col-nb-2-stock-show-ft"><i class="far fa-dot-circle"></i></div>
            <div class="col-nb-3-stock-show-ft"><%= article.title %></div>
            <div class="col-nb-4-stock-show-ft"><i class="fas fa-trash"></i></div>
            <div class="col-nb-5-stock-show-ft action__container"><button class="action action--like"><i class="action__icon far fa-star"></i></button></div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="accordion-item" data-actab-group="0" data-actab-id="3">
    <div class="accordion-item__container accordion-item__label">
        <div class="morningstar-container">
          <div class="mg-text"><h2 class="mg-t">Current valuation</h2></div>
          <div class="mg-color">
            <div class="mg-c-c">
                <div class="mg-data-container">
                  <% @stock.fundamentals.each do |fundamental| %>
                    <div class="col-mg-2">
                      <div class="col-mg-data price-sales-newsflow" data-value="<%= fundamental.current_price_sales %>"></div>
                      <div class="data-name">PRICE/SALES</div>
                    </div>
                    <div class="col-mg-6">
                      <div class="col-mg-data price-earnings-newsflow" data-value="<%= fundamental.current_price_earnings %>"></div>
                      <div class="data-name">PRICE/EARNINGS</div>
                    </div>
                    <div class="col-mg-8">
                      <div class="col-mg-data price-cashflow-newsflow" data-value="<%= fundamental.current_price_cashflow %>"></div>
                      <div class="data-name">PRICE/CASHFLOW</div>
                    </div>
                  <% end %>
                </div>
            </div>
          </div>
        </div>
        <div class="morningstar-container-reverse">
          <div class="mg-color">
            <div class="mg-c-c">
                <div class="mg-data-container">
                  <% @stock.fundamentals.each do |fundamental| %>
                    <div class="col-mg-2">
                    <div class="col-mg-data price-book-newsflow" data-value="<%= fundamental.current_price_book %>"></div>
                      <div class="data-name">PRICE/BOOK</div>
                    </div>
                    <div class="col-mg-4">
                    <div class="col-mg-data price-forward-earnings-newsflow" data-value="<%= fundamental.current_price_forward_earnings %>"></div>
                      <div class="data-name">PRICE/FORWARD EARNINGS</div>
                    </div>
                    <div class="col-mg-8">
                    <div class="col-mg-data earning-yield-newsflow" data-value="<%= fundamental.current_earning_yield %>"></div>
                      <div class="data-name">EARNINGS YIELD</div>
                    </div>
                  <% end %>
                </div>
            </div>
          </div>
          <div class="mg-text"><h2 class="mg-t">MorningStar,<br> Current valuation.</h2></div>
        </div>
        <div class="morningstar-container">
          <div class="mg-text"><h2 class="mg-t">MorningStar,<br> Enterprise Value.</h2></div>
          <div class="mg-color">
            <div class="mg-c-c">
                <div class="mg-data-container">
                  <% @stock.fundamentals.each do |fundamental| %>
                    <div class="col-mg-2">
                    <div class="col-mg-data enterprise-value-newsflow" data-value="<%= fundamental.current_enterprise_value %>"></div>
                      <div class="data-name">ENTERPRISE VALUE (Bil or Mil)</div>
                    </div>
                    <div class="col-mg-6">
                    <div class="col-mg-data enterprise-value-ebit-newsflow" data-value="<%= fundamental.current_enterprise_value_ebit %>"></div>
                      <div class="data-name">ENTERPRISE VALUE/EBIT</div>
                    </div>
                    <div class="col-mg-8">
                      <div class="col-mg-data enterprise-value-ebitda-newsflow" data-value="<%= fundamental.current_enterprise_value_ebitda %>">-</div>
                      <div class="data-name">ENTERPRISE VALUE/EBITDA</div>
                    </div>
                  <% end %>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
