
<div class="container">
  <div class="text-center d-flex flex-column align-items-center">
    <%= link_to "Deals", deals_path, class: "btn btn-ghost mt-2 mb-2 mr-2 ml-2", style:"width: 120px" %>
    <%= link_to "Acquirers", acquirers_path, class: "btn btn-ghost mt-2 mb-2 mr-2 ml-2", style:"width: 120px" %>
    <%= link_to "Targets", targets_path, class: "btn btn-ghost mt-2 mb-2 mr-2 ml-2", style:"width: 120px" %>
    <%= link_to "IPOs", ipos_path, class: "btn btn-ghost mt-2 mb-2 mr-2 ml-2", style:"width: 120px" %>
    <%= link_to "BG LTV", stocks_path, class: "btn btn-ghost mt-2 mb-2 mr-2 ml-2", style:"width: 120px" %>
  </div>
</div>
