
<div class="container">
  <div class="text-center d-flex flex-row align-items-center justify-content-center mb-3 overflow-auto">
    <%= link_to "Deals", deals_path, class: "btn btn-ghost mt-2 mb-2 mr-2 ml-2", style:"width: 120px" %>
    <%= link_to "Acquirers", acquirers_path, class: "btn btn-ghost mt-2 mb-2 mr-2 ml-2", style:"width: 120px" %>
    <%= link_to "Targets", targets_path, class: "btn btn-ghost mt-2 mb-2 mr-2 ml-2", style:"width: 120px" %>
    <%= link_to "IPOs", ipos_path, class: "btn btn-ghost mt-2 mb-2 mr-2 ml-2", style:"width: 120px" %>
    <%= link_to "Stocks", stocks_path, class: "btn btn-ghost mt-2 mb-2 mr-2 ml-2", style:"width: 120px" %>
    <%= link_to "Portfolios", portfolios_path, class: "btn btn-ghost mt-2 mb-2 mr-2 ml-2", style:"width: 120px" %>
  </div>
</div>

<div class="container mt-3 mb-3 text-justify overflow-auto">
  <h3 class="mt-2 mb-2 w-100">👋 Recent comments</h1>
  <% @comments.each do |comment| %>
    <div class="border-top mb-5"></div>
    <h4 class="p-3 mb-2 bg-success text-white"><%= comment.date.strftime("%d/%m/%y") %> - <%= comment.category %> <% stock = Stock.find_by id: comment.stock_id %> - <strong><%= stock.name %></strong>, <em>source:</em> <%= comment.source %></h4>
    <p><%=raw comment.content %></p>
  <% end %>
</div>

