
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dtw3qvpgg/image/upload/v1582197640/background2_yzohoi.jpg);">
  <div class="container">
    <div class="row">
        <input class="form-control search-bar" type="text" placeholder="Search" aria-label="Search" id="search">
      </div>
    </div>
  </div>
</div>

  <div class="container">
      <div class="row text-center">
          <div class="col-3 col-md-3">
            <p><%= link_to "New Deal", new_deal_path %></p>
          </div>
          <div class="col-3 col-md-3">
            <p><%= link_to "New Acquirer", new_acquirer_path %></p>
          </div>
          <div class="col-3 col-md-3">
            <p><%= link_to "New Target", new_target_path %></p>
          </div>
          <div class="col-3 col-md-3">
            <p><%= link_to "New IPO", new_ipo_path %></p>
          </div>
      </div>
  <div class="row text-center">
          <div class="col-3 col-md-3">
            <%= link_to "Deals", deals_path, class: "btn btn-ghost" %>
          </div>
          <div class="col-3 col-md-3">
            <%= link_to "Acquirers", acquirers_path, class: "btn btn-ghost" %>
          </div>
          <div class="col-3 col-md-3">
            <%= link_to "Targets", targets_path, class: "btn btn-ghost" %>
          </div>
          <div class="col-3 col-md-3">
            <%= link_to "IPOs", ipos_path, class: "btn btn-ghost" %>
          </div>
      </div>

        <div class="deals">
          <h1>DEALS</h1>
          <div class="cards">
            <% @deals.each do |deal| %>
              <div class="card-product">
                <div class="row ml-2 mr-2 align-items-center">
                  <h4><%= deal.date.strftime("%d/%m/%y") %></h4><br>
                      <div class="card-product-infos">
                        <h6"><%= deal.acquirer.name %> takeover of <strong><%= deal.target.name %></strong></h6>
                        <p>Deal size: <%= number_with_delimiter(deal.deal_value, delimiter: ",") %> m<%= deal.deal_currency %></p>
                        <p>Valuation multiples:<%= deal.valuation_multiple %>x <%= deal.valuation_type %></p>
                        <p><%= deal.payment_method %></p>
                        <%= link_to "More details",  deal_path(deal), class: "btn btn-flat w-100 mb-2 mt-2 mr-2 ml-2" %>
                      </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>




