<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dtw3qvpgg/image/upload/v1582197640/background2_yzohoi.jpg);">
  <div class="container">
    <div class="row">
        <input class="form-control search-bar" type="text" placeholder="Search" aria-label="Search" id="search">
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row align-bottom">
            <div class="col-6 col-md-4 fix-test">
        <p><%= link_to "New Deal", new_deal_path %></p>
      </div>
      <div class="col-6 col-md-4">
        <p><%= link_to "New Acquirer", new_acquirer_path %></p>
      </div>
      <div class="col-6 col-md-4">
        <p><%= link_to "New Target", new_target_path %></p>
      </div>
    </div>

      <h1>DEALS</h1>
        <% @deals.each do |deal| %>
          <div class="card-product">
            <%= cl_image_tag deal.acquirer.acquirer_logo.key, width: 150, height: 150, crop: :pad if deal.acquirer.acquirer_logo.attached? %>
            <%= cl_image_tag deal.target.target_logo.key, width: 150, height: 150, crop: :pad if deal.target.target_logo.attached? %>
            <div class="card-product-infos">
              <h2><%= deal.acquirer.name %> takeover of <%= deal.target.name %> on <%= deal.date.strftime("%d/%m/%y") %></h2>
              </p><strong>Deal size: <%= number_with_delimiter(deal.deal_value, delimiter: ",") %> m<%= deal.deal_currency %></strong></p>
              <%= link_to "More details", deal_path(deal), class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>


        <h1>ACQUIRERS</h1>
        <% @acquirers.each do |acquirer| %>
          <div class="card-product">
            <%= cl_image_tag acquirer.acquirer_logo.key, width: 150, height: 150, crop: :pad if acquirer.acquirer_logo.attached? %>
            <div class="card-product-infos">
              <h2><%= acquirer.name %></h2>
              <p><%= acquirer.sector %></p><strong><%= link_to acquirer.url, acquirer.url %></strong></p>
            </div>
          </div>
        <% end %>

        <h1>TARGETS</h1>
        <% @targets.each do |target| %>
          <div class="card-product">
            <%= cl_image_tag target.target_logo.key, width: 150, height: 150, crop: :pad %>
            <div class="card-product-infos">
              <h2><%= target.name %></h2>
              <p><%= target.sector %></p>
              <%= link_to "Latest annual report", target.annual_report %>
            </div>
          </div>
        <% end %>
      </div>
  </div>



