
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dtw3qvpgg/image/upload/v1582197640/background2_yzohoi.jpg);">
  <div class="container">
    <div class="row">
        <input class="form-control search-bar" type="text" placeholder="Search" aria-label="Search" id="search">
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row text-center">
        <div class="col-3 col-md-3">
          <p><%= link_to "New Deal", new_deal_path %></p>
        </div>
        <div class="col-3 col-md-3">
          <p><%= link_to "New Acquirer", new_acquirer_path %></p>
        </div>
        <div class="col-3 col-md-3">
          <p><%= link_to "New Target", new_target_path %></p>
        </div>
        <div class="col-3 col-md-3">
          <p><%= link_to "New IPO", new_ipo_path %></p>
        </div>
    </div>


      <div class="deals">
        <h1>DEALS</h1>
          <div class="cards">
            <% @deals.each do |deal| %>
                <div class="card-product">
                    <h4><%= deal.date.strftime("%d/%m/%y") %></h4>
                    <h4><%= deal.acquirer.name %> takeover of <strong><%= deal.target.name %></strong></h4>
                    <div class="card-product-infos">
                      <p>Deal size: <%= number_with_delimiter(deal.deal_value, delimiter: ",") %> m<%= deal.deal_currency %></p>
                      <p>Valuation multiples:<%= deal.valuation_multiple %>x <%= deal.valuation_type %></p>
                      <p><%= deal.payment_method %></p>
                        <%= link_to "More details", deal_path(deal), class: "btn btn-primary" %>
                    </div>
                </div>
            <% end %>
        </div>
      </div>


        <div class="acquirers">
          <h1>ACQUIRERS</h1>
            <div class="cards">
              <% @acquirers.each do |acquirer| %>
                <div class="card-product">
                  <%= cl_image_tag acquirer.acquirer_logo.key, width: 150, height: 150, crop: :pad if acquirer.acquirer_logo.attached? %>
                  <div class="card-product-infos">
                    <h2><%= link_to acquirer.name, acquirer_path(acquirer) %></h2>
                    <p><%= acquirer.sector %></p><strong><%= link_to acquirer.url, acquirer.url %></strong></p>
                  </div>
                </div>
              <% end %>
            </div>
        </div>
      <%= link_to "Targets", targets_path, class: "btn btn-ghost" %>


        <div class="ipos">
          <h1>IPOs</h1>
          <% @ipos.each do |ipo| %>
            <div class="card-product">
              <%= cl_image_tag ipo.ipo_logo.key, width: 150, height: 150, crop: :pad %>
              <div class="card-product-infos">
                <h2><%= link_to ipo.name, edit_ipo_path(ipo) %></h2>
                <p><%= ipo.sector %></p>
                <%= link_to "Prospectus offering", ipo.pdf_prospectus %>
              </div>
            </div>
          <% end %>
         </div>
        </div>
      </div>
  </div>



