<h1>Create a new deal</h1>

<div class="container">
  <div class="row">
    <div class="col-6">
      <%= simple_form_for @deal do |f| %>
        <%= f.input :date, as: :string %>
        <%= f.association :target, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
        <%= f.association :acquirer, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
        <%= f.input :deal_value %>
        <%= f.input :deal_currency %>
        <%= f.input :premium %>
        <%= f.input :valuation_multiple,input_html: { class: "form-group" } %>
        <%= f.input :valuation_type %>
        <%= f.input :payment_method %>
      </div>
    <div class="col-4">
        <%= f.input :offer_price %>
        <%= f.input :bump %>
        <%= f.input :private %>
        <%= f.input :rumors %>
        <%= f.input :comments %>
        <%= f.input :pdf, as: :file, input_html: { class: "btn btn-outline-primary" } %>
        <%= f.input :press_release, as: :file, input_html: { class: "btn btn-outline-primary" } %>
        <%= f.submit "Create", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>



