<div class="container">
      <div class="row col-6 justify-items-center mt-3 mb-1">
        <%= cl_image_tag @deal.acquirer.acquirer_logo.key, width: 150, height: 150, crop: :pad if @deal.acquirer.acquirer_logo.attached? %>
        <%= cl_image_tag @deal.target.target_logo.key, width: 150, height: 150, crop: :pad if @deal.target.target_logo.attached? %>
      </div>

        <div class="row mt-1">
          <div class="col-10 mb-3">
            <h2><%= @deal.target.name %> takeover by <%= @deal.acquirer.name %></h2>
            <div class="row col-8 mt-3 mb-3 text-center">
              <%= link_to "Deal presentation", @deal.pdf, class: "btn btn-ghost mr-3 ml-3" if @deal.pdf.attached? %>
              <%= link_to "Deal press release", @deal.press_release, class: "btn btn-ghost mr-3 ml-3" if @deal.press_release.attached? %>
            </div>
              <p><%= @deal.date.strftime("%d/%m/%y") %>, <%= @deal.premium %>% premium, <%= @deal.valuation_multiple %>x <%= @deal.valuation_type %></p>
              <p><%= @deal.offer_price %> <%= @deal.deal_currency %> with a <%= @deal.payment_method %></p>
              <p class="text-justify"><%= @deal.comments %></p>
              <button type="button" class="btn btn-ghost mr-3 ml-3" data-toggle="modal" data-target="#exampleModal">Create a Post</button>
              <%= link_to "Back to Deals", deals_path, class: "btn btn-ghost mr-3 ml-3" %>
              <%= link_to "Update this deal", edit_deal_path(@deal), class: "btn btn-ghost mr-3 ml-3" %>
          </div>
        </div>


    <!--Accordion wrapper-->
    <div class="accordion md-accordion border-top mb-3" id="accordionEx" role="tablist" aria-multiselectable="true">

      <!-- Accordion card -->
      <div class="card">

        <!-- Card header -->
        <div class="card-header" role="tab" id="headingOne1">
          <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
            aria-controls="collapseOne1">
            <h5 class="btn-success p-3 mb-0">
              Newsflow from Financials time (if any since beginning of the year) <i class="fas fa-angle-down rotate-icon float-right"></i>
            </h5>
          </a>
        </div>

        <!-- Card body -->
        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
          data-parent="#accordionEx">
          <div class="card-body">
            <div class="stock_newsflow" data-name="<%= @deal.acquirer.name %>" data-identifier="<%= @deal.acquirer.identifier %>"></div>
          </div>
        </div>
      </div>
    </div>
      <!-- Accordion card -->


    <div class="row mt-3">
        <div class="col-8 align-content-center text-justify mr-2 ml-2 mt-2 mb-2">
            <%= render "posts/index-posts" %>
        </div>
    </div>
  </div>
    <%= render "posts/modal" %>
  </div>

