<div class="container">

      <div class="row col-6 justify-items-center mt-3 mb-3">
        <%= cl_image_tag @deal.acquirer.acquirer_logo.key, width: 150, height: 150, crop: :pad if @deal.acquirer.acquirer_logo.attached? %>
        <%= cl_image_tag @deal.target.target_logo.key, width: 150, height: 150, crop: :pad if @deal.target.target_logo.attached? %>
      </div>

      <div class="row col-8 mt-3">
        <%= link_to "Deal presentation", @deal.pdf, class: "btn btn-ghost mr-3 ml-3" if @deal.pdf.attached? %>
        <%= link_to "Deal press release", @deal.press_release, class: "btn btn-ghost mr-3 ml-3" if @deal.press_release.attached? %>
      </div>


        <div class="row mt-3">
          <div class="col-10">
            <h2><%= @deal.target.name %> takeover by <%= @deal.acquirer.name %></h2>
              <p>Deal premium: <%= @deal.premium %>%</p>
              <p>Valuation: <%= @deal.valuation_multiple %>x <%= @deal.valuation_type %></p>
              <p><%= @deal.comments %></p>
              <%= link_to "Create a Post", new_deal_post_path(@deal), class: "btn btn-ghost mr-3 ml-3"  %>
              <%= link_to "Back to Deals", deals_path, class: "btn btn-ghost mr-3 ml-3" %>
              <%= link_to "Update this deal", edit_deal_path(@deal), class: "btn btn-ghost mr-3 ml-3" %>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-10">
            <% @deal.posts.each do |post| %>
              <p><%= post.date.strftime("%d/%m/%y") %> - <%= post.content %> - <%= post.category %></p>
                <%= link_to post_path(post), method: :delete, data: { confirm: "Are you sure?" } do %>
                    <i class="fa fa-trash destroy_dose "></i>
                    <% end %>
            <% end %>
          </div>
        </div>
  </div>

