    <div class="container">
        <%= simple_form_for [@deal, Post.new]  do |f| %>
        <%= f.input :date, as: :string %>
        <%= f.association :deal, as: :hidden, input_html: { value: @deal.id } %>
        <%= f.input :category, collection: ["Funding", "Regulation/Antitrust", "Sector overview", "Market reaction", "Valuation", "Shareholders vote", "Earnings", "Deal spread"] %>
        <%= f.input :content, as: :trix_editor %>
        <%= f.submit "Create", class: "btn btn-primary" %>
      <% end %>
    </div>

