<h1>Create a new post</h1>

    <div class="container">
        <%= simple_form_for [@deal, @post]  do |f| %>
        <%= f.input :date, as: :string %>
        <%= f.association :deal, as: :hidden, input_html: { value: @deal.id } %>
        <%= f.input :content %>
        <%= f.input :category %>
        <%= f.submit "Create", class: "btn btn-primary" %>
      <% end %>
    </div>
